body{
    margin: 0%;
    padding:0%;
    background:url(img/uno.jpg);
    background-size:cover;
    height: 100%;
}
.logincs{
    width: 320px;
    height: 900;
    background: rgb(17, 17, 16);
    color: #e6b296;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.logincs .imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top: -50px;
    left: calc(50% - 50px);
    font-size: 32px;

}
.logincs h1{
    margin:0;
    padding:0 0 20px ;
    text-align: center;
}

.logincs label{
    margin: top 0;
    padding: 0;
    font-weight: bold;
    display:block;
}
.logincs input{
width: 100%;
margin-bottom: 20px;
}
.logincs input type [type="text" ],
.logincs input type [type="contra" ] {
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color:white;
    font-size:16px;
}
.logincs input[type="submit" ] {
    border:none;
    outline:none;
    height:40px;
    background: rgb(177,14,14);
    color:#fff;
    font-size:18px;
    border-radius:20px;


}
.logincs a{
    text-decoration:none;
    font-size:12px;
    line-height: 20px;
    color:darkgreen;

}
.logincs a:hover{
    color:white;
    

}

